// ServiceNow Now Design System

// NOW Button Stateful

@import '@servicenow/sass-kit/host';

:host {
	display: inline-block;
	vertical-align: middle;
}

.now-button-stateful {
	@include now-mx-button;
	@include now-mx-focus-ring;
	@include now-mx-button-is-bare;
	margin: 0;
	border-radius: $now-button--iconic--border-radius;
	padding: 0;

	// <now-button-stateful size="sm|md|lg">

	&.-sm {
		@include now-mx-button-iconic-sm;
	}

	&.-md {
		@include now-mx-button-iconic-md;
	}

	&.-lg {
		@include now-mx-button-iconic-lg;
	}

	// <now-button-stateful variant="primary|primary-highlighted|secondary|secondary-highlighted|tertiary" high-contrast>

	&.-primary {
		@include now-mx-button-bare-primary;

		&:hover {
			background-color: RGBA(
				$now-button--bare_primary--background-color--hover,
				$now-global-opacity--least
			);
		}

		&:active {
			background-color: RGBA(
				$now-button--bare_primary--background-color--active,
				$now-global-opacity--less
			);
		}

		&.high-contrast {
			@include now-mx-button-bare-primary-high-contrast;

			&:hover {
				background-color: RGBA(
					$now-button--primary_high-contrast--background-color--hover,
					$now-global-opacity--least
				);
			}

			&:active {
				background-color: RGBA(
					$now-button--primary_high-contrast--background-color--active,
					$now-global-opacity--less
				);
			}
		}

		&.-highlighted {
			color: RGB($now-button--primary-highlighted--color);

			&:hover {
				color: RGB($now-button--primary-highlighted--color--hover);
				background-color: RGBA(
					$now-button--primary-highlighted--background-color--hover,
					$now-global-opacity--least
				);
			}

			&:active {
				color: RGB($now-button--primary-highlighted--color--active);
				background-color: RGBA(
					$now-button--primary-highlighted--background-color--active,
					$now-global-opacity--less
				);
			}

			&.is-selected {
				color: RGB($now-button--primary-highlighted--color--selected);
				background-color: RGBA(
					$now-button--primary-highlighted--background-color--selected,
					$now-global-opacity--least
				);

				&:hover {
					color: RGB($now-button--primary-highlighted--color--selected_hover);
					background-color: RGBA(
						$now-button--primary-highlighted--background-color--selected_hover,
						$now-global-opacity--least
					);
				}

				&:active {
					color: RGB($now-button--primary-highlighted--color--selected_active);
					background-color: RGBA(
						$now-button--primary-highlighted--background-color--selected_active,
						$now-global-opacity--less
					);
				}
			}

			&.high-contrast {
				color: RGB($now-button--primary-highlighted_high-contrast--color);

				&:hover {
					color: RGB(
						$now-button--primary-highlighted_high-contrast--color--hover
					);
				}

				&:active {
					color: RGB(
						$now-button--primary-highlighted_high-contrast--color--active
					);
				}

				&.is-selected {
					color: RGB(
						$now-button--primary-highlighted_high-contrast--color--selected
					);
					background-color: RGBA(
						$now-button--primary-highlighted_high-contrast--background-color--selected,
						$now-global-opacity--least
					);

					&:hover {
						color: RGB(
							$now-button--primary-highlighted_high-contrast--color--selected_hover
						);
						background-color: RGBA(
							$now-button--primary-highlighted_high-contrast--background-color--selected_hover,
							$now-global-opacity--least
						);
					}

					&:active {
						color: RGB(
							$now-button--primary-highlighted_high-contrast--color--selected_active
						);
						background-color: RGBA(
							$now-button--primary-highlighted_high-contrast--background-color--selected_active,
							$now-global-opacity--less
						);
					}
				}
			}
		}
	}

	&.-secondary {
		@include now-mx-button-bare-secondary;

		&:hover {
			background-color: RGBA(
				$now-button--bare_secondary--background-color--hover,
				$now-global-opacity--least
			);
		}

		&:active {
			background-color: RGBA(
				$now-button--bare_secondary--background-color--active,
				$now-global-opacity--less
			);
		}

		&.high-contrast {
			@include now-mx-button-bare-secondary-high-contrast;

			&:hover {
				background-color: RGBA(
					$now-button--secondary_high-contrast--background-color--hover,
					$now-global-opacity--least
				);
			}

			&:active {
				background-color: RGBA(
					$now-button--secondary_high-contrast--background-color--active,
					$now-global-opacity--less
				);
			}
		}

		&.-highlighted {
			color: RGB($now-button--secondary-highlighted--color);

			&:hover {
				color: RGB($now-button--secondary-highlighted--color--hover);
				background-color: RGBA(
					$now-button--secondary-highlighted--background-color--hover,
					$now-global-opacity--least
				);
			}

			&:active {
				color: RGB($now-button--secondary-highlighted--color--active);
				background-color: RGBA(
					$now-button--secondary-highlighted--background-color--active,
					$now-global-opacity--less
				);
			}

			&.is-selected {
				color: RGB($now-button--secondary-highlighted--color--selected);
				background-color: RGBA(
					$now-button--secondary-highlighted--background-color--selected,
					$now-global-opacity--least
				);

				&:hover {
					color: RGB($now-button--secondary-highlighted--color--selected_hover);
					background-color: RGBA(
						$now-button--secondary-highlighted--background-color--selected_hover,
						$now-global-opacity--least
					);
				}

				&:active {
					color: RGB(
						$now-button--secondary-highlighted--color--selected_active
					);
					background-color: RGBA(
						$now-button--secondary-highlighted--background-color--selected_active,
						$now-global-opacity--less
					);
				}
			}

			&.high-contrast {
				color: RGB($now-button--secondary-highlighted_high-contrast--color);

				&:hover {
					color: RGB(
						$now-button--secondary-highlighted_high-contrast--color--hover
					);
					background-color: RGBA(
						$now-button--secondary-highlighted_high-contrast--background-color--hover,
						$now-global-opacity--least
					);
				}

				&:active {
					color: RGB(
						$now-button--secondary-highlighted_high-contrast--color--active
					);
					background-color: RGBA(
						$now-button--secondary-highlighted_high-contrast--background-color--active,
						$now-global-opacity--less
					);
				}

				&.is-selected {
					color: RGB(
						$now-button--secondary-highlighted_high-contrast--color--selected
					);
					background-color: RGBA(
						$now-button--secondary-highlighted_high-contrast--background-color--selected,
						$now-global-opacity--least
					);

					&:hover {
						color: RGB(
							$now-button--secondary-highlighted_high-contrast--color--selected_hover
						);
						background-color: RGBA(
							$now-button--secondary-highlighted_high-contrast--background-color--selected_hover,
							$now-global-opacity--least
						);
					}

					&:active {
						color: RGB(
							$now-button--secondary-highlighted_high-contrast--color--selected_active
						);
						background-color: RGBA(
							$now-button--secondary-highlighted_high-contrast--background-color--selected_active,
							$now-global-opacity--less
						);
					}
				}
			}
		}
	}

	&.-tertiary {
		color: RGB($now-button--tertiary--color);

		&:hover {
			color: RGB($now-button--tertiary--color--hover);
			background-color: RGBA(
				$now-button--bare_tertiary--background-color--hover,
				$now-global-opacity--least
			);
		}

		&:active {
			color: RGB($now-button--tertiary--color--active);
			background-color: RGBA(
				$now-button--bare_tertiary--background-color--active,
				$now-global-opacity--less
			);
		}

		&.high-contrast {
			color: RGB($now-button--tertiary_high-contrast--color);

			&:hover {
				color: RGB($now-button--tertiary_high-contrast--color--hover);
				background-color: RGBA(
					$now-button--tertiary_high-contrast--background-color--hover,
					$now-global-opacity--least
				);
			}

			&:active {
				color: RGB($now-button--tertiary_high-contrast--color--active);
				background-color: RGBA(
					$now-button--tertiary_high-contrast--background-color--active,
					$now-global-opacity--less
				);
			}
		}

		&.is-selected {
			color: RGB($now-button--tertiary--color--selected);

			&:hover {
				color: RGB($now-button--tertiary--color--selected_hover);
				background-color: RGBA(
					$now-button--tertiary--background-color--selected_hover,
					$now-global-opacity--least
				);
			}

			&:active {
				color: RGB($now-button--tertiary--color--selected_active);
				background-color: RGBA(
					$now-button--tertiary--background-color--selected_active,
					$now-global-opacity--less
				);
			}

			&.high-contrast {
				color: RGB($now-button--tertiary_high-contrast--color--selected);

				&:hover {
					color: RGB(
						$now-button--tertiary_high-contrast--color--selected_hover
					);
					background-color: RGBA(
						$now-button--tertiary_high-contrast--background-color--selected_hover,
						$now-global-opacity--least
					);
				}

				&:active {
					color: RGB(
						$now-button--tertiary_high-contrast--color--selected_active
					);
					background-color: RGBA(
						$now-button--tertiary_high-contrast--background-color--selected_active,
						$now-global-opacity--less
					);
				}
			}
		}
	}

	// <now-button-stateful disabled>

	&.is-disabled,
	&.is-disabled:hover {
		@include now-mx-button-is-disabled;
	}

	// <now-button-stateful hide-padding>

	&.hide-padding {
		width: initial;
		height: initial;
		border-width: 0;
		border-radius: 0;
	}
} // end .now-button-stateful
