// ServiceNow Design System

// NOW Button Bare

@import '@servicenow/sass-kit/host';
@import '@servicenow/sass-utility/spacing/margin/xxs';
@import '@servicenow/sass-utility/spacing/margin/xs';

:host {
	--now-line-height: 0;
	display: inline-block;
	vertical-align: middle;
}

.now-button-bare {
	@include now-mx-button;
	margin: 0;
	border: none;
	padding-inline-start: 0;
	padding-inline-end: 0;
	font-family: $now-button--bare--font-family;
	background-color: transparent;
	@include now-mx-inherits(
		$font-style: $now-button--bare--font-style,
		$font-weight: $now-button--bare--font-weight,
		$text-transform: $now-button--bare--text-transform,
		$white-space: $now-button--bare--text-wrap
	);
	@include now-mx-focus-ring;

	// <now-button-bare size="sm|md|lg">

	&.-sm {
		@include now-mx-button-sm;

		&.hide-padding {
			min-height: now-fn-px2rem(16px);
			padding-block-start: 0;
			padding-block-end: 0;
		}

		.now-line-height-crop {
			@include now-mx-line-height-crop($now-global-line-height--sm);
		}
	}

	&.-md {
		@include now-mx-button-md;

		&.hide-padding {
			min-height: now-fn-px2rem(20px);
			padding-block-start: 0;
			padding-block-end: 0;
		}

		.now-line-height-crop {
			@include now-mx-line-height-crop;
		}
	}

	&.-lg {
		@include now-mx-button-lg;

		&.hide-padding {
			min-height: now-fn-px2rem(28px);
			padding-block-start: 0;
			padding-block-end: 0;
		}

		.now-line-height-crop {
			@include now-mx-line-height-crop;
		}
	}

	// <now-button-bare variant="primary|secondary" high-contrast>

	&.-primary {
		@include now-mx-button-bare-primary;

		&.high-contrast {
			@include now-mx-button-bare-primary-high-contrast;
		}
	}

	&.-secondary {
		@include now-mx-button-bare-secondary;

		&.high-contrast {
			@include now-mx-button-bare-secondary-high-contrast;
		}
	}

	// <now-button-bare disabled>

	&.is-disabled {
		cursor: not-allowed;
		color: RGBA($now-button--color--disabled, $now-global-opacity--less);
	}

	.now-line-height-crop {
		min-width: 0;
	}
} // end .now-button-bare

.now-button-bare-label {
	display: block;
	@include now-mx-ellipsis;
}
